
<div class="row">
	<% @data["Items"].each do |row| %>
	
		<div class="col-md-4">	
			<img class="img-thumbnail" src="<%= row["Item"]["mediumImageUrls"][0]["imageUrl"].gsub("?_ex=128x128","?_ex=300x300") %>">
			<p>
				<%= link_to row["Item"]["itemName"],rakuten_detail_path(id:row["Item"]["itemCode"]) %>
				
			</p>
			<p><%= number_with_delimiter(row["Item"]["itemPrice"]) %>  Yen</p>
		</div>
	<% end %>
</div>