<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				News
			</div>
			<div class="card-body">
				<%= form_for @news,url: {action: "create"},html: {class: "theme-form"} do |f| %>
					<div class="form-group">
						<label class="col-form-label pt-0" for="title">Title</label>
						<input type="title" placeholder="title" class="form-control">
					</div>
					<div class="form-group">
						<label class="col-form-label pt-0" for="title">Content</label>
						<textarea class="form-control"></textarea>
					</div>
					<div class="card-footer">
						<input type="submit" value="Submit" class="btn btn-primary"/>
						<%= link_to "Cancel", admin_news_index_path, class: "btn btn-secondary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>